<div class="small-container">
  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name),
    :html => { :method => :post, :role => 'form' }) do |f| %>

    <%= devise_error_messages! %>

    <div class="field">
      <%= f.text_field :email, :placeholder => :email.capitalize, :class => 'recipieces-form-control',
        :autofocus => true, :required => true %>
    </div>

    <%= f.submit "Resend confirmation instructions", :class => 'button-lg-block' %>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>
