<div class="small-container">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
    :html => { :method => :put, :role => 'form' }) do |f| %>

    <%= devise_error_messages! %>

    <div class="field">
      <%= f.text_field :name, :placeholder => :name.capitalize, :autofocus => true,
        :class => 'recipieces-form-control', :required => true %>
    </div>

    <div class="field">
      <%= f.text_field :email, :placeholder => :email.capitalize, :class => 'recipieces-form-control',
        :required => true %>
    </div>

    <div class="field">
      <small>(leave blank if you don't want to change password)</small>
      <%= f.password_field :password, :placeholder => :password.capitalize, :class => 'recipieces-form-control' %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, :placeholder => :password_confirmation.capitalize,
        :class => 'recipieces-form-control' %>
    </div>

    <div class="field">
      <small>(we need your current password to confirm your changes)</small>
      <%= f.password_field :current_password, :placeholder => :current_password.capitalize,
        :class => 'recipieces-form-control' %>
    </div>

    <br/>

    <%= f.submit "Update", :class => 'button-lg-block' %>
  <% end %>

  <br/>

  <label>Unhappy? <%= link_to " Cancel my account", registration_path(resource_name), class: "button-sm-danger",
    :data => { :confirm => "Are you sure?" }, :method => :delete %>
  </label>
</div>
