 <%= form_for(@recipe, :html => { :multipart => true, :class => "form-horizontal" }) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><h2><%= action_name.capitalize %> Recipe</h2></legend>

    <div class="control-group">
      <%= f.label :title, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :title, :autofocus => true %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Ingredients</label>
      <div class="controls" id="ingredient-list">
        <%= render 'ingredient_fields' %>
      </div>
      <br/>
      <div class="controls">
        <%= link_to 'Add Ingredient', '#add', :id => 'add-ingredient', :class => 'btn btn-small btn-success' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :preparation, :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :preparation, :class => "input-xxlarge", :rows => 5 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :instructions, :class => "control-label" do %>
        Instructions
        <span class="help-block"><label><em>(separate each by pressing Enter)</em></label></span>
      <% end %>
      <div class="controls">
        <%= f.text_area :instructions, :class => "input-xxlarge", :rows => 13 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :category, :class => "control-label" %>
      <div class="controls">
        <%= collection_select(:recipe, :category_id, Category.all, :id, :name) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Comment / Description', :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :comment, :class => "input-xxlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :keywords, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :keywords, :class => "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :yield, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :yield %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :original_source, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :original_source %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Prep', :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :prep_time_in_minutes, :class => "input-mini" %>
        <span class="help-inline"><label>minutes</label></span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Cook', :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :cook_time_in_minutes, :class => "input-mini" %>
        <span class="help-inline"><label>minutes</label></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Pictures</label>
      <div class="controls">
        <ul class="thumbnails">
          <% for picture in @recipe.picture %>
            <%= f.fields_for :picture, picture do |builder| %>
              <%= render 'picture_fields', :f => builder, :picture => picture %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <%= f.submit nil, :class => 'btn btn-success btn-large btn-primary' %>
  </fieldset>
<% end %> 
