 <%= nested_form_for(@recipe, :html => { :multipart => true, :class => "form-horizontal" }) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><h2><%= action_name.capitalize %> Recipe</h2></legend>

    <div class="control-group">
      <%= f.label :title, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :title, :autofocus => true %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Ingredients</label>
      <div class="controls">
        <%= f.fields_for :ingredient %>
      </div>
      <div class="controls">
        <%= f.link_to_add 'Add Ingredient', :ingredient, :class => 'btn btn-small btn-success' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :preparation, :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :preparation, :class => "input-xxlarge", :rows => 5 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :instructions, :class => "control-label" do %>
        Instructions
        <span class="help-block"><label><em>(separate each by pressing Enter)</em></label></span>
      <% end %>
      <div class="controls">
        <%= f.text_area :instructions, :class => "input-xxlarge", :rows => 13 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :category, :class => "control-label" %>
      <div class="controls">
        <%= collection_select(:recipe, :category_id, Category.all, :id, :name) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Comment / Description', :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :comment, :class => "input-xxlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :keywords, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :keywords, :class => "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :yield, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :yield %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :original_source, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :original_source %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Prep', :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :prep_time_in_minutes, :class => "input-mini" %>
        <span class="help-inline"><label>minutes</label></span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Cook', :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :cook_time_in_minutes, :class => "input-mini" %>
        <span class="help-inline"><label>minutes</label></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Pictures</label>
        <div class="controls">
          <% if action_name == 'edit' %>
            <ul class="thumbnails">
              <% for picture in @recipe.picture %>
                <li class="span1">
                  <div class="thumbnail">
                    <% if ((can? :destroy, picture) && (@recipe.user_id == current_user.id || current_user.role?(:admin) )) %>
                      <%= link_to(picture, class: "btn btn-small btn-danger",
                        :data => { :confirm => "Are you sure you want to delete #{picture.name}?" }, :method => :delete) do %>
                        <i class="icon-trash icon-white"></i>
                      <% end %>
                    <% end %>
                    <%= link_to(picture_path(picture), class: "thumbnail") do %>
                      <img
                        src="<%= url_for(:action => 'thumbnail', :id => picture.id, :controller => 'pictures') %>"
                        alt="<%= picture.name %>"
                        title="<%= picture.name %>"
                      />
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          <% end %>
          <%= f.fields_for :picture %>
          <%= f.link_to_add 'Add Picture', :picture, :class => 'btn btn-small btn-success' %>
        </div>
    </div>

    <%= f.submit nil, :class => 'btn btn-success btn-large btn-primary' %>
  </fieldset>
<% end %> 
