 <%= form_for(@recipe, :html => { :multipart => true }) do |f| %>
  <% if @recipe.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <fieldset>
      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title, :size => 60 %>
      </div>
      <fieldset>
      <legend>Ingredients:</legend>
        <%= f.fields_for :ingredient do |builder| %>
          <% render 'ingredient_fields', :f => builder %>
        <% end %>
        <p><%= link_to_add_fields 'Add Ingredient', f, :ingredient %></p>
      </fieldset>
      <div class="field">
        <%= f.label :instructions %> <small><i>(separate each by pressing Enter)</i></small><br />
        <%= f.text_area :instructions, :size => '60x7' %>
      </div>
      <div class="field">
        <%= f.label :category %><br />
        <%= collection_select(:recipe, :category_id, @all_categories, :id, :name) %>
      </div>
      <div class="field">
        <%= f.fields_for :picture do |builder| %>
          <% render 'picture_fields', :f => builder %>
        <% end %>
        <p><%= link_to_add_fields 'Add Picture', f, :picture %></p>
      </div>
      <div class="field">
        <%= f.label :comment %><br />
        <%= f.text_field :comment, :size => 50 %>
      </div>
      <div class="field">
        <%= f.label :keywords %><br />
        <%= f.text_field :keywords, :size => 40 %>
      </div>
      <div class="field">
        <%= f.label :yield %><br />
        <%= f.text_field :yield, :size => 25 %>
      </div>
      <div class="field">
        <table>
          <tr>
            <th align="left">
              <%= f.label 'Prep' %>
            </th>
            <th align="left">
              <%= f.label 'Cook' %>
            </th>
            <th>Public</th>
            <th>Secret</th>
          </tr>
          <tr>
            <td>
              <%= f.text_field :prep_time_in_minutes, :size => 2 %>min.
            </td>
            <td>
              <%= f.text_field :cook_time_in_minutes, :size => 2 %>min.
            </td>
            <td align="center">
              <%= f.check_box :is_public %>
            </td>
            <td align="center">
              <%= f.check_box :is_secret %>
            </td>
          </tr>
        </table>
      </div>
      <div class="actions">
        <%= f.submit nil, :class => 'input' %>
      </div>
  </fieldset>
<% end %>
