<div class="recipe">
  <%= form_for(@recipe, :html => { :multipart => true, :role => 'form' }) do |f| %>
    <% if @recipe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
        <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
     </div>
   <% end %>

    <fieldset>
      <legend><h2><%= action_name.capitalize %> Recipe</h2></legend>

      <div class="field">
        <%= f.text_field :title, :placeholder => :title.capitalize, :class => 'recipieces-form-control',
          :required => true, :autofocus => true %>
      </div>

      <div class="field">
        <label>Ingredients</label>
        <%= f.fields_for :ingredient do |builder| %>
          <%= render 'ingredient_fields', :f => builder %>
        <% end %>
        <div>
          <%= link_to_add_fields 'Add Ingredient', f, :ingredient %>
        </div>
      </div>

      <div class="field">
        <%= f.text_area :preparation, :placeholder => :preparation.capitalize,
          :class => "recipieces-form-control", :rows => 5 %>
      </div>

      <div class="field">
        <span class="help-block"><label><em>(separate each instruction by pressing Enter)</em></label></span>
        <%= f.text_area :instructions, :placeholder => :instructions.capitalize,
          :class => "recipieces-form-control", :rows => 13 %>
      </div>

      <div class="field">
        <%= collection_select(:recipe, :category_id, Category.all, :id, :name) %>
      </div>

      <div class="field">
        <%= f.text_field :comment, :placeholder => 'Comment or description', :class => "recipieces-form-control" %>
      </div>

      <div class="field">
          <%= f.text_field :keywords, :placeholder => :keywords.capitalize,  :class => "recipieces-form-control" %>
      </div>

      <div class="field">
        <%= f.text_field :yield, :placeholder => :yield.capitalize, :class => "recipieces-form-control" %>
      </div>

      <div class="field">
        <%= f.text_field :original_source, :placeholder => :original_source.to_s.humanize, :class => "recipieces-form-control" %>
      </div>

      <div class="recipieces-form-inline field">
          <%= f.text_field :prep_time_in_minutes, :placeholder => :prep_time_in_minutes.to_s.humanize,
            :class => "recipieces-form-control" %>
          <%= f.text_field :cook_time_in_minutes, :placeholder => :cook_time_in_minutes.to_s.humanize,
            :class => "recipieces-form-control" %>
      </div>

      <div class="field">
        <label>Pictures</label>
        <% if action_name == 'edit' %>
          <div class="row">
            <% for picture in @recipe.pictures %>
              <div class="recipieces-6-3-col">
                <%= link_to(picture_path(picture)) do %>
                  <img
                    src="<%= url_for(:action => 'thumbnail', :id => picture.id, :controller => 'pictures') %>"
                    alt="<%= picture.name %>"
                    title="<%= picture.name %>"
                  />
                <% end %>
                <% if ((can? :destroy, picture) && (@recipe.user_id == current_user.id || current_user.role?(:admin) )) %>
                  <%= link_to(picture, class: "button-sm-danger",
                    :data => { :confirm => "Are you sure you want to delete #{picture.name}?" }, :method => :delete) do %>
                    <i class="icon-delete"></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= f.fields_for :pictures do |builder| %>
            <%= render 'picture_fields', :f => builder %>
          <% end %>
        <% end %>
        <div>
          <%= link_to_add_fields 'Add Picture', f, :pictures %>
        </div>
      </div>

      <br/>

      <%= f.submit nil, :class => 'button-lg-block' %>
    </fieldset>
  <% end %>
</div>
