<div class="form-inline">
    <%= f.text_field :amount, :class => "input-mini", :placeholder => "Amount" %>

    <%= f.text_field :name, :placeholder => "Name" %>

    <%= f.label :secret, :class => "checkbox inline" do %>
        <%= f.check_box :secret %>Secret
    <% end %>

    <%= f.link_to_remove "Remove", :class => "btn btn-small btn-danger" %>
</div>
