<div class="fields">
  <%= f.text_field :amount, :class => "input-small", :placeholder => "Amount" %>

  <%= f.text_field :name, :placeholder => "Name" %>

  <%= f.label :secret, :class => "checkbox" do %>
      <%= f.check_box :secret %>Secret
  <% end %>

  <%=  link_to_remove_fields 'Remove', f %>
  <br/><br/>
 </div>
