<div class="field recipieces-form-inline">

    <%= f.text_field :amount, :placeholder => :amount.capitalize, :class => "form-control-sm" %>

    <%= f.text_field :name, :placeholder => :name.capitalize, :class => "form-control-sm" %>

    <%= f.label :secret do %>
        <%= f.check_box :secret %>Secret
    <% end %>

    <%= f.hidden_field :_destroy %>

    <%= link_to_remove_fields 'Remove', f  %>
</div>
