<% for ingredient in @recipe.ingredient %>
  <div class="form-inline" id="ingredient-fields">
    <%= fields_for "recipe[ingredient_attributes][]", ingredient do |i| %>

      <%= i.text_field :amount, :class => "input-mini", :placeholder => "Amount" %>

      <%= i.text_field :name, :placeholder => "Name" %>

      <%= i.label :secret, :class => "checkbox inline" do %>
          <%= i.check_box :secret %>Secret
      <% end %>

      <%= link_to("Remove", "#delete", :class => "btn btn-small btn-danger delete-ingredient") %>
    <% end %>
  </div>
<% end %>
