<div class="controls fields form-inline">
    <%= f.text_field :amount, :class => "input-mini", :placeholder => "Amount" %>

    <%= f.text_field :name, :placeholder => "Name" %>

    <%= f.label :secret, :class => "checkbox inline" do %>
        <%= f.check_box :secret %>Secret
    <% end %>

    <%= f.hidden_field :_destroy %>

    <%= link_to_remove_fields 'Remove', f  %>
</div>
