<div id="recipe-list">
  <h1>Recipes</h1>
  
  <table>
    <tr>
      <th align="left">Title</th>
      <th />
      <th>Author</th>
      <th>Comment</th>
      <th>Keywords</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    
    <% for recipe in @recipes %>
      <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
        <td><img src="<%= url_for(:action => 'thumbnail', :id => recipe.picture[0].id, :controller => 'pictures') %>" /></td>
        <td><%= recipe.title %></td>
        <td><%= recipe.author %></td>
        <td><%= recipe.comment %></td>
        <td><%= recipe.keywords %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

</div>

<br />

<%= link_to 'New Recipe', new_recipe_path %> |
<%= link_to 'Home', root_path %>
