<div id="recipe-list">
  <table>
    <tr>
      <th/>
      <th>Title</th>
      <th>Comment</th>
      <th>Keywords</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    
    <% for recipe in @recipes %>
      <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
        <td><img src="<%= url_for(:action => 'thumbnail', :id => recipe.picture[0].id, :controller => 'pictures') %>" /></td>
        <td><%= recipe.title %></td>
        <td><%= recipe.comment %></td>
        <td><%= recipe.keywords %></td>
        <td><%= link_to 'Show', recipe %></td>
        <% if user_signed_in? %>
          <% if ((can? :edit, recipe) && recipe.user_id == current_user.id) %>
            <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
          <% end %>
          <% if ((can? :destroy, recipe) && recipe.user_id == current_user.id) %>
            <td><%= link_to 'Destroy', recipe, :confirm => 'Are you sure?', :method => :delete %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<br />

<%= link_to 'New Recipe', new_recipe_path %> |
<%= link_to 'Home', root_path %>
