<p class="notice"><%= notice %></p>

<div class="recipe">

  <div class="page-header">
    <h1><%= @recipe.title %></h1>
    <small>Author: <label class="text"><em><%= @author_name %></em></label></small>
    <% unless @recipe.yield.empty? %>
      <small style="float: right;">Yield: <label class="text"><em><%= @recipe.yield %></em></label></small>
    <% end %>
  </div>

  <% unless @recipe.picture.empty? %>
    <% if @recipe.picture.size > 1 %>
        <label style="display:inline;"><h4>Pictures
          <% @recipe.picture.each_with_index do |picture, index| %>
            <strong><%= link_to index + 1, picture_path(picture) %></strong>
          <% end %>
          </h4>
        </label>
    <% end %>
    <img src="<%= url_for(:action => 'thumbnail', :id => @recipe.picture[0].id, :controller => 'pictures', :height => 256, :width => 256) %>" />
  <% end %>

  <% unless @recipe.comment.empty? %>
    <label><h4>Comment/Description</h4>
      <label class="text"><%= @recipe.comment %></label>
    </label>
    <br/>
  <% end %>

  <label><h4>Category</h4>
    <label class="text"><%= @current_category.name %></label>
  </label>
  <br/>

  <% unless @recipe.keywords.empty? %>
    <label><h4>Keywords</h4>
      <label class="text"><%= @recipe.keywords %></label>
    </label>
    <br/>
  <% end %>

  <% unless @recipe.preparation.empty? %>
      <label><h4>Preparation</h4>
        <label class="text"><%= @recipe.preparation %></label>
      </label>
      <br/>
  <% end %>

  <br/><br/>
  <label><h4>Ingredients</h4>
    <ul>
      <% for ingredient in @recipe.ingredient %>
        <% unless ingredient.secret %>
          <label class="text"><li><%= ingredient.amount %> <%= ingredient.name %></label></li>
        <% end %>
      <% end %>
    </ul>
  </label>

  <label><h4>Instructions</h4>
    <ol>
      <% @recipe.instructions.split(/\r\n/).each do |instruction| %>
        <label class="text"><li><%= instruction %></li></label>
      <% end %>
    </ol>
  </label>

  <% unless @recipe.original_source.empty? %>
    <label><h4>Original Source</h4>
      <label class="text"><%= @recipe.original_source %></label>
    </label>
  <% end %>

  <label>
    <table>
      <tr>
        <th align="left"><h4>Prep</h4></th>
        <th align="left"><h4>Cook</h4></th>
      </tr>
      <tr>
        <td>
          <label class="text"><%= @recipe.prep_time_in_minutes %> min.</label>
        </td>
        <td>
          <label class="text"><%= @recipe.cook_time_in_minutes %> min.</label>
        </td>
      </tr>
    </table>
  </label>
  <br/>
  <% if user_signed_in? %>
    <% if ((can? :edit, @recipe) && (@recipe.user_id == current_user.id  || current_user.role?(:admin) ))  %>
      <%= link_to(edit_recipe_path(@recipe), class: "btn btn-large btn-success") do %>
        <i class="icon-edit icon-white"></i> Edit
      <% end %>
    <% end %>
  <% end %>
  <%= link_to(recipes_path, class: "btn btn-large btn-success") do %>
    <i class="icon-th-list icon-white"></i> List
  <% end %>
</div>
