<p class="notice"><%= notice %></p>

<div id="recipe">
  <h2><%= @recipe.title %></h2>

  <% unless @recipe.yield.empty? %>
    <small><%= @recipe.yield %></small>
  <% end %>
  
  <% unless @recipe.picture.empty? %>
    <img src="<%= url_for(:action => 'show', :id => @recipe.picture[0].id, :controller => 'pictures') %>" class="floatRight"/>
  <% end %>
  
  <p>
    <b>Ingredients:</b>
    <ul>
      <% for ingredient in @recipe.ingredient %>
        <% unless ingredient.secret %>
          <li><%= ingredient.amount %> <%= ingredient.name %></li>
        <% end %>
      <% end %>
    </ul>
  </p>

  <p>
    <b>Instructions:</b>
    <ol>
      <% @recipe.instructions.split(/\r\n/).each do |instruction| %>
        <li><%= instruction %></li>
      <% end %>
    </ol>
  </p>

  <% unless @recipe.comment.empty? %>
    <p>
      <b>Comment:</b>
      <%= @recipe.comment %>
    </p>
  <% end %>

  <p>
    <b>Category:</b>
    <%= @current_category.name %>
  </p>
  
  <p>
    <b>Keywords:</b>
    <%= @recipe.keywords %>
  </p>

  <p>
    <table>
        <tr>
          <th align="left">Prep</th>
          <th align="left">Cook</th>
          <th align="left">Public</th>
          <th align="left">Secret</th>
        </tr>
        <tr>
          <td>
            <%= @recipe.prep_time_in_minutes %> min.
          </td>
          <td>
            <%= @recipe.cook_time_in_minutes %> min.
          </td>
          <td>
            <%= @recipe.is_public %>
          </td>
          <td>
            <%= @recipe.is_secret %>
          </td>
        </tr>
      </table>
  </p>
  <br/>

  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Recipes', recipes_path %> |
  <%= link_to 'Home', root_path %>
</div>
