<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @recipe.title %>
  <br />
  <% unless @recipe.yield.empty? %>
    <small><%= @recipe.yield %></small>
  <% end %>
</p>

<p>
  <b>Author:</b>
  <%= @recipe.author %>
</p>

<% unless @recipe.comment.empty? %>
  <p>
    <b>Comment:</b>
    <%= @recipe.comment %>
  </p>
<% end %>

<p>
  <b>Category:</b>
  <%= @recipe.category_id %>
</p>

<fieldset>
  <legend>Ingredients:</legend>
  <ul>
    <% for ingredient in @recipe.ingredient %>
      <% unless ingredient.secret %>
        <li><%= ingredient.amount %> <%= ingredient.name %></li>
      <% end %>
    <% end %>
  </ul>
</fieldset>

<p>
  <b>Instructions:</b>
  <ol>
    <% @recipe.instructions.split(/\r\n/).each do |instruction| %>
      <li><%= instruction %></li>
    <% end %>
  </ol>
</p>

<p>
  <b>Keywords:</b>
  <%= @recipe.keywords %>
</p>

<p>
  <b>Prep Time:</b>
  <%= @recipe.prep_time_in_minutes %>
</p>

<p>
  <b>Cook Time:</b>
  <%= @recipe.cook_time_in_minutes %>
</p>

<!-- TODO: display picture -->

<p>
  <b>Public:</b>
  <%= @recipe.is_public %>
  <b>Secret:</b>
  <%= @recipe.is_secret %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %> |
<%= link_to 'Home', root_path %>
