<div class="recipe">
    <h1><%= @recipe.title %></h1>
    <small>Author: <label class="recipieces-text"><em><%= @author_name %></em></label></small>
    <% unless @recipe.yield.empty? %>
      <small style="float: right;">Yield: <label class="recipieces-text"><em><%= @recipe.yield %></em></label></small>
    <% end %>
  <hr/>
  <% unless @recipe.pictures.empty? %>
    <% if @recipe.pictures.size > 1 %>
        <label style="display:inline;"><h4>Pictures
          <% @recipe.pictures.each_with_index do |picture, index| %>
            <strong><%= link_to index + 1, picture_path(picture) %></strong>
          <% end %>
          </h4>
        </label>
    <% end %>
    <img src="<%= url_for(:action => 'thumbnail', :id => @recipe.pictures[0].id,
      :controller => 'pictures', :height => 256, :width => 256) %>" />
  <% end %>

  <% unless @recipe.comment.empty? %>
    <label><h4>Comment/Description</h4>
      <label class="recipieces-text"><%= @recipe.comment %></label>
    </label>
    <br/>
  <% end %>

  <label><h4>Category</h4>
    <label class="recipieces-text"><%= @current_category.name %></label>
  </label>
  <br/>

  <% unless @recipe.keywords.empty? %>
    <label><h4>Keywords</h4>
      <% @recipe.keywords.split(' ').each do |keyword| %>
        <span class="label label-info"><%= keyword %></span>
      <% end %>
    </label>
    <br/>
  <% end %>

  <% unless @recipe.preparation.empty? %>
      <label><h4>Preparation</h4>
        <label class="recipieces-text"><%= @recipe.preparation %></label>
      </label>
  <% end %>

  <div class="field">
    <label><h4>Ingredients</h4>
      <ul>
        <% for ingredient in @recipe.ingredient %>
          <% unless ingredient.secret %>
            <li><label class="recipieces-text"><%= ingredient.amount %> <%= ingredient.name %></label></li>
          <% end %>
        <% end %>
      </ul>
    </label>
  </div>


  <label><h4>Instructions</h4>
    <ol>
      <% @recipe.instructions.split(/\r\n/).each do |instruction| %>
        <li><label class="recipieces-text"><%= instruction %></label></li>
      <% end %>
    </ol>
  </label>

  <% unless @recipe.original_source.empty? %>
    <label><h4>Original Source</h4>
      <label class="recipieces-text"><%= @recipe.original_source %></label>
    </label>
  <% end %>
  <div class="field">
    <label>
      <table>
        <tr>
          <th align="left"><h4>Prep</h4></th>
          <th align="left"><h4>Cook</h4></th>
        </tr>
        <tr>
          <td>
            <label class="recipieces-text"><%= @recipe.prep_time_in_minutes %> min.</label>
          </td>
          <td>
            <label class="recipieces-text"><%= @recipe.cook_time_in_minutes %> min.</label>
          </td>
        </tr>
      </table>
    </label>
  </div>
  <br/>
  <% if user_signed_in? %>
    <% if ((can? :edit, @recipe) && (@recipe.user_id == current_user.id  || current_user.role?(:admin) ))  %>
      <%= link_to(edit_recipe_path(@recipe), class: "button-sm") do %>
        <i class="icon-edit"></i> Edit
      <% end %>
    <% end %>
  <% end %>
  <%= link_to(recipes_path, class: "button-sm") do %>
    <i class="icon-list"></i> List
  <% end %>
</div>
