<p class="notice"><%= notice %></p>

<div id="recipe">
  <h1><%= @recipe.title %></h1>

  <small>Author: <%= @author_name %></small>

  <br/>

  <% unless @recipe.yield.empty? %>
    <small>Yield: <%= @recipe.yield %></small>
  <% end %>

  <% unless @recipe.picture.empty? %>
    <div class="floatRight">
      <img src="<%= url_for(:action => 'show', :id => @recipe.picture[0].id, :controller => 'pictures') %>" class="floatRight"/>
      <br/>
      <center>
        <% @recipe.picture.each_with_index do |picture, index| %>
          <%= link_to index + 1, picture_path(picture) %>
        <% end %>
      </center>
    </div>
  <% end %>

  <p>
    <b>Ingredients:</b>
    <ul>
      <% for ingredient in @recipe.ingredient %>
        <% unless ingredient.secret %>
          <li><%= ingredient.amount %> <%= ingredient.name %></li>
        <% end %>
      <% end %>
    </ul>
  </p>

  <% unless @recipe.preparation.empty? %>
    <p>
      <b>Preparation:</b>
      <%= @recipe.preparation %>
    </p>
  <% end %>

  <p>
    <b>Instructions:</b>
    <ol>
      <% @recipe.instructions.split(/\r\n/).each do |instruction| %>
        <li><%= instruction %></li>
      <% end %>
    </ol>
  </p>

  <% unless @recipe.comment.empty? %>
    <p>
      <b>Comment/Description:</b>
      <%= @recipe.comment %>
    </p>
  <% end %>

  <p>
    <b>Category:</b>
    <%= @current_category.name %>
  </p>

  <% unless @recipe.keywords.empty? %>
    <p>
      <b>Keywords:</b>
      <%= @recipe.keywords %>
    </p>
  <% end %>

  <% unless @recipe.original_source.empty? %>
    <p>
      <b>Original Source:</b>
      <%= @recipe.original_source %>
    </p>
  <% end %>

  <p>
    <table>
        <tr>
          <th align="left">Prep</th>
          <th align="left">Cook</th>
        </tr>
        <tr>
          <td>
            <%= @recipe.prep_time_in_minutes %> min.
          </td>
          <td>
            <%= @recipe.cook_time_in_minutes %> min.
          </td>
        </tr>
      </table>
  </p>

  <br/>

  <% if user_signed_in? %>
    <% if ((can? :edit, @recipe) && (@recipe.user_id == current_user.id  || current_user.role?(:admin) ))  %>
      <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
    <% end %>
  <% end %>
  <%= link_to 'Recipes', recipes_path %> |
  <%= link_to 'Home', root_path %>
</div>

