<div class="small-container">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <%= f.text_field :name, :placeholder => :name.capitalize, :class => 'recipieces-form-control',
        :required => true, :autofocus => true %>
    </div>

    <div class="field">
      <%= f.text_field :email, :placeholder => :email.capitalize, :class => 'recipieces-form-control',
        :required => true %>
    </div>

    <div class="field">
      <%= f.label :approved, :class => "checkbox" do %>
        <%= f.check_box :approved %>Approved
      <% end %>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit nil, :class => 'button-lg-block' %>
    </div>
  <% end %>
</div>

<%= link_to(@user, class: "button-sm") do %>
  <i class="icon-view"></i> View
<% end %>

<%= link_to(users_path, class: "button-sm") do %>
  <i class="icon-list"></i> List
<% end %>
