<table class="recipieces-table">
  <thead>
    <tr>
      <th><h2>Name</h2></th>
      <th><h2>Description</h2></th>
      <th></th>
      <% if (can? :edit, :album) %>
        <th></th>
      <% end %>
      <% if (can? :destroy, :album) %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><h3><%= album.name %></h3></td>
        <td><h3><%= album.description %></h3></td>
        <td class="center-col"><%= link_to(album, class: "button-sm") do %>
              <i class="icon-view"></i> View
            <% end %>
        </td>
        <% if user_signed_in? %>
          <% if ((can? :edit, album) && (album.user_id == current_user.id || current_user.role?(:admin) )) %>
            <td class="center-col">
              <%= link_to(edit_album_path(album), class: "button-sm") do %>
                <i class="icon-edit"></i> Edit
              <% end %>
            </td>
          <% end %>
          <% if ((can? :destroy, album) && (album.user_id == current_user.id || current_user.role?(:admin) )) %>
            <td class="center-col">
              <%= link_to(album, class: "button-sm-danger",
                :data => { :confirm => "Are you sure you want to delete #{album.name}?" }, :method => :delete) do %>
                <i class="icon-delete"></i> Delete
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to(new_album_path(:album_type => params[:album_type]), class: "button-lg") do %>
  <i class="icon-add"></i> New Album
<% end %>
