<div class="page-header">
  <h2><%= @album.name %> - <small><%= @album.description %></small></h2>
  <label><h5>by <label class="text"><%= @author_name %></label></h5></label>

<% if user_signed_in? %>
  <% if ((can? :edit, @album) && (@album.user_id == current_user.id  || current_user.role?(:admin) ))  %>
    <%= link_to(edit_album_path(@album), class: "btn btn-large btn-success") do %>
      <i class="icon-edit icon-white"></i> Edit
    <% end %>
  <% end %>
<% end %>

<% if @current_album_type.name.singularize == 'Picture' %>
  <%= link_to(new_picture_path(:album_id => @album.id), class: "btn btn-large btn-success") do %>
    <i class="icon-plus icon-white"></i> Add <%= @current_album_type.name.singularize %>
  <% end %>
<% end %>

</div>

<ul class="thumbnails">
  <% @album.picture.each do |picture| %>
    <li class="span2">
      <div class="thumbnail">
        <% if ((can? :destroy, picture) && (@album.user_id == current_user.id || current_user.role?(:admin) )) %>
          <%= link_to(picture, class: "btn btn-small btn-danger",
            :data => { :confirm => "Are you sure you want to delete #{picture.name}?" }, :method => :delete) do %>
            <i class="icon-trash icon-white"></i>
          <% end %>
        <% end %>
        <%= link_to(picture_path(picture), class: "thumbnail") do %>
          <img
            src="<%= url_for(:action => 'thumbnail', :id => picture.id, :controller => 'pictures', :height => 120, :width => 160) %>"
            alt="<%= picture.name %>"
            title="<%= picture.name %>"
          />
        <% end %>
        <label class="text"><%= picture.description %></label>
      </div>
    </li>
  <% end %>
</ul>

<br/> <br/>
<%= link_to(albums_path(:album_type => @current_album_type.id), class: "btn btn-small btn-success") do %>
  <i class="icon-th-list icon-white"></i> List <%= @current_album_type.name.singularize %> Albums
<% end %>
