<h2><%= @album.name %> - <small><%= @album.description %></small></h2>

<label><h5>by <label><%= @author_name %></label></h5></label>

<br/>

<% if user_signed_in? %>
  <% if ((can? :edit, @album) && (@album.user_id == current_user.id  || current_user.role?(:admin) ))  %>
    <%= link_to(edit_album_path(@album), class: "button-sm") do %>
      <i class="icon-edit"></i> Edit
    <% end %>
  <% end %>
<% end %>

<% if @current_album_type.name.singularize == 'Picture' %>
  <%= link_to(new_picture_path(:imageable_id => @album.id, :imageable_type => 'Album'), class: "button-sm") do %>
    <i class="icon-add"></i> Add <%= @current_album_type.name.singularize %>
  <% end %>
  <%= link_to(album_path(@album, :view => 'carousel'), class: "button-sm") do %>
    <i class="icon-view"></i> Carousel
  <% end %>
<% elsif @current_album_type.name.singularize == 'Video' %>
  <%= link_to(new_video_path(:imageable_id => @album.id, :imageable_type => 'Album'), class: "button-sm") do %>
   <i class="icon-add"></i> Add <%= @current_album_type.name.singularize %>
  <% end %>
<% end %>

<%= link_to(album_path(@album), class: "button-sm") do %>
  <i class="icon-view"></i> Thumbnails
<% end %>

<hr/>

<% if params["view"] == 'carousel' %>
  <%= render partial: 'carousel', locals: { album_pictures: @album_pictures } %>
<% else %>
  <% if @current_album_type.name.singularize == 'Picture' %>
    <%= render partial: 'thumbnails', locals: { album_pictures: @album_pictures, album: @album } %>
    <div class="field">
      <%= will_paginate @album_pictures, renderer: BootstrapPagination::Rails %>
    </div>
  <% elsif @current_album_type.name.singularize == 'Video' %>
    <%= render partial: 'video_thumbnails', locals: { album_videos: @album_videos, album: @album } %>
    <div class="field">
      <%= will_paginate @album_videos, renderer: BootstrapPagination::Rails %>
    </div>
  <% end %>
<% end %>

<%= link_to(albums_path(:album_type => @current_album_type.id), class: "button-sm") do %>
  <i class="icon-list"></i> List <%= @current_album_type.name.singularize %> Albums
<% end %>
