<div class="page-header">
  <h2><%= @album.name %> - <small><%= @album.description %></small></h2>
  <label><h5>by <label class="text"><%= @author_name %></label></h5></label>

  <% if user_signed_in? %>
    <% if ((can? :edit, @album) && (@album.user_id == current_user.id  || current_user.role?(:admin) ))  %>
      <%= link_to(edit_album_path(@album), class: "btn btn-large btn-success") do %>
        <i class="icon-edit icon-white"></i> Edit
      <% end %>
    <% end %>
  <% end %>

  <% if @current_album_type.name.singularize == 'Picture' %>
    <%= link_to(new_picture_path(:album_id => @album.id), class: "btn btn-large btn-success") do %>
      <i class="icon-plus icon-white"></i> Add <%= @current_album_type.name.singularize %>
    <% end %>
  <% end %>

  <%= link_to(album_path(@album, :view => 'carousel'), class: "btn btn-large btn-success") do %>
    <i class="icon-eye-open icon-white"></i> Carousel
  <% end %>

  <%= link_to(album_path(@album), class: "btn btn-large btn-success") do %>
    <i class="icon-eye-open icon-white"></i> Thumbnails
  <% end %>
</div>

<% if params["view"] == 'carousel' %>
  <label><em>(hover over image to pause, click to view original size)</em></label>
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <% @album.picture.each_with_index do |picture, index| %>
        <div class="<%= index == 0 ? 'active item' : 'item' %>">
           <%= link_to(picture_path(picture), class: "thumbnail") do %>
            <img
              src="<%= url_for(:action => 'thumbnail', :id => picture.id, :controller => 'pictures', :height => 500, :width => 870) %>"
              alt="<%= picture.name %>"
              title="<%= picture.name %>"
            />
          <% end %>
          <div class="carousel-caption">
            <p>
              <h4><%= picture.description %></h4>
            </p>
            <p>
              <small>- <%= picture.date_taken %></small>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
<% else %>
  <label><em>(click image to view original size)</em></label>
  <ul class="thumbnails">
    <% @album.picture.each do |picture| %>
      <li class="span4">
          <div class="thumbnail">
            <% if ((can? :edit, picture) && (picture.user_id == current_user.id || current_user.role?(:admin) )) %>
              <%= link_to(edit_picture_path(picture, :album_id => @album.id), class: "btn btn-small btn-success") do %>
                <i class="icon-edit icon-white"></i>
              <% end %>
            <% end %>
            <% if ((can? :destroy, picture) && (@album.user_id == current_user.id || current_user.role?(:admin) )) %>
              <%= link_to(picture, class: "btn btn-small btn-danger",
                :data => { :confirm => "Are you sure you want to delete #{picture.name}?" }, :method => :delete) do %>
                <i class="icon-trash icon-white"></i>
              <% end %>
            <% end %>
            <%= link_to(picture_path(picture), class: "thumbnail") do %>
              <img
                src="<%= url_for(:action => 'thumbnail', :id => picture.id, :controller => 'pictures', :height => 180, :width => 260) %>"
                alt="<%= picture.name %>"
                title="<%= picture.name %>"
              />
            <% end %>
            <label class="text"><%= picture.description %></label>
            <p>
              <small>- <%= picture.date_taken %></small>
            </p>
          </div>
      </li>
    <% end %>
  </ul>
<% end %>

<br/> <br/>
<%= link_to(albums_path(:album_type => @current_album_type.id), class: "btn btn-small btn-success") do %>
  <i class="icon-th-list icon-white"></i> List <%= @current_album_type.name.singularize %> Albums
<% end %>
