<div class="small-container">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
    :html => { :role => 'form'}) do |f| %>

    <div class="field">
      <%= f.text_field :email, :placeholder => :email.capitalize, :autofocus => true, :class => 'recipieces-form-control', :required => true %>
   </div>

    <div class="field">
      <%= f.password_field :password, :placeholder => :password.capitalize, :class => 'recipieces-form-control', :required => true %>
    </div>

    <div class="field">
      <% if devise_mapping.rememberable? -%>
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %> Remember me
          <% end %>
      <% end -%>
    </div>

    <%= f.submit 'Login', :class => 'button-lg-block' %>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>
