<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @picture.name %>
</p>

<p>
  <b>Content type:</b>
  <%= @picture.content_type %>
</p>

<p>
  <b>Size:</b>
  <%= @picture.size %>
</p>

<p>
  <b>Data:</b>
  <%= @picture.data %>
</p>

<p>
  <b>Recipe:</b>
  <%= @picture.recipe_id %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
