<%= form_for(@category, :html => {:class => "form-inline"}) do |f| %>
  <% if @category.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.text_field :name, :class => 'input-small', :placeholder => 'Name', :autofocus => true %>

  <%= f.text_field :description, :placeholder => 'Description' %>

  <%= f.submit nil, :class => 'btn btn-success btn-large'%>

<% end %>
