<table class="recipieces-table">
  <thead>
    <tr>
      <th><h2>Name</h2></th>
      <th><h2>Description</h2></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><h3><%= category.name %></h3></td>
        <td><h3><%= category.description %></h3></td>
        <td>
          <%= link_to(edit_category_path(category), class: "button-sm") do %>
            <i class="icon-edit"></i> Edit
          <% end %>
        </td>
        <td>
          <%= link_to(category, class: "button-sm-danger",
            :confirm => "Are you sure you want to delete #{category.name}?", :method => :delete) do %>
              <i class="icon-delete"></i> Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to(new_category_path, class: "button-lg") do %>
  <i class="icon-add"></i> New Category
<% end %>
