<ul class="nav">
  <li class="<%= 'active' if current_page?(root_path) %>">
    <%= link_to(root_path) do %>
      <i class="icon-home icon-white"></i> Home
    <% end %>
  </li>
  <% if user_signed_in? %>
    <li>
      <%= link_to(destroy_user_session_path, :method=>'delete') do %>
        <i class="icon-off icon-white"></i> Log off
      <% end %>
    </li>
    <li class="<%= 'active' if current_page?(edit_user_registration_path) %>">
      <%= link_to(edit_user_registration_path) do %>
        <i class="icon-cog icon-white"></i> Edit account
      <% end %>
    </li>
   <li class="dropdown <%= 'active' if current_page?(recipes_path) || current_page?(new_recipe_path) %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Recipes<b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(recipes_path) do %>
            <i class="icon-th-list"></i> List
          <% end %>
        </li>
         <li>
          <%= link_to(new_recipe_path) do %>
            <i class="icon-plus"></i> Create
          <% end %>
        </li>
      </ul>
    </li>
    <% if can? :manage, :category %>
      <li class="<%= 'active' if current_page?(categories_path) %>">
        <%= link_to 'Categories', categories_path %>
      </li>
    <% end %>
  <% else %>
    <li class="<%= 'active' if current_page?(new_user_session_path) %>">
      <%= link_to(new_user_session_path) do %>
        <i class="icon-road icon-white"></i> Login
      <% end %>
    </li>
     <li class="<%= 'active' if current_page?(new_user_registration_path) %>">
      <%= link_to(new_user_registration_path) do %>
        <i class="icon-user icon-white"></i> Sign up
      <% end %>
    </li>
  <% end %>
</ul>
