<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Recipieces - ya ain't livin if ya ain't eatin good!</title>
  <meta name="Author" content="Reese J Hodge IV" />
  <meta name="Keywords" content="Digital archive Digital Heirloom" />
  <meta name="Description" content="Recipieces goal is to be an awesome digital archive for Hodge and associated families." />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>
  <div id="mainContent">
    <%= yield %>
  </div>
</body>
</html>
